{% extends "base.html.twig" %}


{% block body %}
<form>
    <div class="container">
        <div class="form-group">
       
            <h1>Incription</h1>

            {{ form_start(form) }}
            
            {{ form_row(form.username, {'label': 'Utilisateur', 'attr': {'placeholder':'Nom d\'utilisateur'}}) }}
            {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder':'example@email.fr'}}) }}
            {{ form_row(form.password, {'label': 'Password', 'attr': {'placeholder':'******'}}) }}
            {{ form_row(form.passwordConfirm, {'label': 'Confirmez votre Password', 'attr': {'placeholder':'******'}}) }}


            <button type="submit" class="btn btn-primary">Inscription</button>
            {{ form_end(form) }}
        </div>
    </div>
</form>
{% endblock %}


