{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <h1>Modification d'un article </h1>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.name, {'attr':{'placeholder':'mettre à jour article'}}) }}
    {{ form_row(formArticle.description, {'attr':{'placeholder':'mettre à jour description'}}) }}
    {{ form_row(formArticle.price, {'attr':{'placeholder':'mettre à jour prix'}}) }}
    

    {{ form_end(formArticle) }}

{% endblock %}