{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}


    {% for catalog in catalogs %}

        <h2>{{catalog.name }}</h2>
        <div class="content">
            <p> {{ catalog.description }} </p>
            <p><small>Crée le {{ catalog.createdDate | date('d/m/Y') }} Par User : {{ catalog.createdUser }}</small></p>
            <a href="{{ path('catalog', {'id': catalog.id}) }}" class="btn btn-primary" > Consulter</a>
        </div>
        </br></br>
        
    {% endfor %}
{% endblock %}
