{% extends 'base.html.twig' %}

{% block title %}Edition Catégorie{% endblock %}

{% block body %}

    <h3>Editer Catégorie </h3>

    {{ form_start(formCatalog) }}

    {{ form_row(formCatalog.name, {'attr':{'placeholder':'Saisir nom catégorie'}}) }}
    {{ form_row(formCatalog.description, {'attr':{'placeholder':'Saisir description'}}) }}

    <div class="row">   
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </div>
        <div class="col-md-1">
            <a href="{{ path('catalogs') }}" class="btn btn-danger">Annuler</a>
    </div>

    {{ form_end(formCatalog) }}

{% endblock %}